[submodule "Spotify.Backend"] 
  path = src/Spotify.Backend
  url = https://github.com/razrez/db_web_api.git

[submodule "Spotify.Client"] 
  path = src/Spotify.Client
  url = https://github.com/punkrelique/spotify-clone.git